$--color-primary: #409eff !default;
$--color-primary-light-9: mix(#fff, $--color-primary, 90%);
$--color-danger: #f56c6c !default;

// border-color
$--border-color-lighter: #ebeef5;

// table
$--table-border-color: $--border-color-lighter;
$--table-border: 1px solid $--table-border-color;

// drop-down-menu-item
$--dropdown-menuItem-hover-fill: $--color-primary-light-9;
