.y-date-editor-wrapper:not(.y-range-editor-wrapper) {
  display: inline-block;
  width: 220px;
  .el-date-editor {
    width: 100%;
    .el-input__prefix {
      left: auto;
      right: 5px;
    }
    .el-input__inner {
      padding-left: 15px;
    }
  }
  &.y-date-editor-icon-hide-wrapper {
    .el-date-editor {
      .el-input__prefix {
        display: none;
      }
    }
  }
}

.y-date-editor-wrapper.y-range-editor-wrapper {
  display: inline-block;
  width: 220px;
  .el-date-editor {
    display: flex;
    padding-left: 15px;
    width: 100%;
    .el-range__icon {
      position: absolute;
      z-index: 0;
      right: 5px;
      line-height: 30px;
    }
    .el-range-input {
      flex: 1;
      text-align: left;
    }
    .el-range-separator {
      flex: 0 0 auto;
      width: 26px;
    }
    .el-range__close-icon {
      position: relative;
      z-index: 1;
      flex: 0 0 auto;
      margin-right: -5px;
    }
  }
  &.y-date-editor-icon-hide-wrapper {
    .el-date-editor {
      .el-range__icon {
        display: none;
      }
    }
  }
}
