.y-list-select {
  display: inline-block;
  .el-input {
    .el-input__inner {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .el-input__inner,
    .el-input__suffix {
      cursor: pointer;
    }
    &.is-disabled {
      .el-input__inner,
      .el-input__suffix {
        cursor: not-allowed;
      }
    }
    .el-input__suffix {
      .el-input__suffix-inner {
        .el-icon-circle-close {
          position: absolute;
          top: 1px;
          margin-left: -25px;
          height: calc(100% - 2px);
          line-height: 1;
          background: #fff;
        }
      }
    }
  }
}
