@import './variables';

.y-tree-select-popover {
  padding: 8px 0;
  min-width: 0;
  .el-scrollbar {
    .el-scrollbar__wrap {
      margin-bottom: 0 !important;
      max-height: 260px;
      overflow-x: hidden;
    }
    .el-tree > .el-tree-node > .el-tree-node__content {
      padding: 0 3px !important;
    }
    .el-tree-node {
      white-space: normal;
      .el-tree-node__content {
        padding-right: 20px;
        height: auto;
        line-height: 30px;
      }
    }
    .el-tree-node__content {
      align-items: flex-start;
      .el-tree-node__expand-icon {
        padding: 9px;
      }
    }
    .el-tree--highlight-current .is-current > .el-tree-node__content {
      font-weight: bold;
      background-color: #fff;
      color: $--color-primary;
      &:hover {
        background-color: #f5f7fa;
      }
    }
  }
  .popper__arrow {
    left: 35px !important;
  }
}

.y-tree-select {
  display: inline-block;
  .el-input {
    .el-input__inner {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .el-input__inner,
    .el-input__suffix {
      cursor: pointer;
    }
    &.y-tree-select-reference-arrow-up {
      .el-input__inner {
        border-color: $--color-primary;
      }
    }
    &.is-disabled {
      .el-input__inner,
      .el-input__suffix {
        cursor: not-allowed;
      }
    }
    .el-input__suffix {
      .el-input__suffix-inner {
        .el-icon-circle-close {
          position: absolute;
          top: 1px;
          margin-left: -25px;
          height: calc(100% - 2px);
          line-height: 1;
          background: #fff;
        }
      }
    }
  }
  .y-tree-select-reference-arrow-up {
    .el-icon-arrow-down {
      transform: rotate(-180deg);
    }
  }
}
