@import './variables';

.el-tree {
  .el-tree-node[aria-disabled='true'] {
    > .el-tree-node__content {
      font-weight: normal !important;
      background: transparent !important;
      color: mix($--tree-font-color, $--color-white, 50%) !important;
      cursor: not-allowed;
    }
  }
}
